<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreateEmployeeDetails" />
                <binding name="BasicHttpBinding_IRetrieveEmployeeDeatils" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49883/EmployeeManagementService.svc/create"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreateEmployeeDetails"
                contract="EmployeeManagementServiceReference.ICreateEmployeeDetails"
                name="BasicHttpBinding_ICreateEmployeeDetails" />
            <endpoint address="http://localhost:49883/EmployeeManagementService.svc/retrieve"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetrieveEmployeeDeatils"
                contract="EmployeeManagementServiceReference.IRetrieveEmployeeDeatils"
                name="BasicHttpBinding_IRetrieveEmployeeDeatils" />
        </client>
    </system.serviceModel>
</configuration>